/* /* css common */
@charset "utf-8";

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
iframe {
    margin: 0;
    padding: 0;
}

body,
input,
button,
select,
textarea,
table {
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
}

img {
    border: 0 none;
}

ol,
ul,
li,
dl,
dt,
dd {
    list-style: none;
}

table {
    border-collapse: collapse;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    *zoom: 1;
}

/* //只针对IE6/7   */
.clear {
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0px;
}

/* //清除浮动 */


/* a {
    color: #555;
    text-decoration: none;
} */

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/* a:hover {
    color: #f60;
    text-decoration: underline;
} */

a:active {
    color: #f60;
}

a:focus {
    outline: none;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.top {
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, .2);
    width: 100%;
    height: 60px;
}

.content {
    position: fixed;
    top:0px;
    background-image: url("https://dss3.bdstatic.com/lPoZeXSm1A5BphGlnYG/skin/74.jpg?2");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

.buttom {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: #fafafa;
    width: 100%;
    height: 40px;
    text-align: left;
}

.top_left {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    height: 60px;
    padding-left: 24px
}

.top_left .mnav {
    margin-right: 31px;
    margin-top: 19px;
    color: rgba(255,255,255,.85);;
    display: inline-block;
    position: relative
}

.top_right {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    height: 60px;
    padding-right: 24px;
}

.logo {
    text-align: center;
    margin-top: 60px;
}

.search {
    text-align: center;
    margin-top: 20px;
}

#kw {
    width: 512px;
    height: 16px;
    padding: 12px 16px;
    font-size: 16px;
    margin: 0;
    vertical-align: top;
    outline: 0;
    box-shadow: none;
    border-radius: 10px 0 0 10px;
    border: 2px solid #c4c7ce;
    background: #fff;
    color: #222;
    overflow: hidden
}

#su {
    cursor: pointer;
    width: 108px;
    height: 44px;
    line-height: 45px;
    margin: 0;
    padding: 0;
    background: 0 0;
    background: #e4e4e5;
    color: #222;
    border-radius: 0 10px 10px 0;
    font-size: 17px;
    box-shadow: none;
    font-weight: 400;
    border: none;
    outline: 0
}

.news {
    text-align: center;
    background: rgba(255, 255, 255, .85);
    margin: 0 auto;
    margin-top: 80px;
    border-radius: 16px;
    border: 0px;
    width: 1090px;
    height: 400px;
}

.buttom_left {
    line-height: 40px;
    margin-left: 30px;

}

.buttom_left li {
    float: left;
    margin-right: 20px;
}

.buttom_left li a {
    color: #9195a3;
}

.buttom a:hover {
    color: #222;
}

.buttom_right {
    line-height: 40px;
    margin-right: 30px;

}

.buttom_right li {
    float: right;
    margin-right: 20px;
}

.buttom_right li a {
    color: #bbb;
}